%br
%br

%div{:class => "text-center text-success"}
	%h4 Thank you for submitting your restaurant review. 
	%h4 Next, please click on the link below to answer a few additional questions about the restaurant experience you have just described.
	%a{:href => "https://columbia.az1.qualtrics.com/SE/?SID=SV_ehRIIvtDXOwdx8V"}https://columbia.az1.qualtrics.com/SE/?SID=SV_ehRIIvtDXOwdx8V
