.col
	%br
	%br
	= link_to "10-20 words surveys CSV", smallsurveys_path
	%br
	= link_to "40-50 words surveys CSV", midsurveys_path
	%br
	= link_to "135-145 words surveys CSV", largesurveys_path
.col
	%br
	%br
	=link_to "new 10-20 words survey", new_smallsurvey_path
	%br

	=link_to "new 40-50 words survey", new_midsurvey_path
	%br

	=link_to "new 135-145 words survey", new_largesurvey_path

